<img class="logo" src={{logo}} />
<div class="container">
        <h1><b>Most <span>Popular</span> Blogs</b></h1>
        </div>
        <div class="container" id="img1">
        <a target="_blank" rel="noopener" href="https://edsurgeindependent.com/the-current-education-system-is-failing-our-students-b35614943541">
                <img id="img11" src={{imagesrc2}}>
                <div class="bottom-left"><b style="color:black;">The current education system is failing our students</b></div>
        </a>
        </div>
        
        
        <div class="container" id="img2">
        <a target="_blank" rel="noopener" href="https://www.wanderlustworker.com/11-reasons-why-you-should-follow-your-passion-in-life/">
                <img id="img11" src={{imagesrc3}}>
                <div class="bottom-left"><b style="color:black;">11 Reasons why you should follow your passion</b></div>
        </a>
        </div>
        
        <div class="container" id="img3">
        <a target="_blank" rel="noopener" href="https://www.wabisabilearning.com/blog/10-useful-digital-age-skills">
                <img id="img11" src={{imagesrc4}}>
                <div class="bottom-left"><b style="color:black;">10 most useful information age skill every student should learn</b></div>
        </a>
        </div>

        <div class="container" id="img4">
        <a target="_blank" rel="noopener" href="https://www.businessinsider.com/signs-you-should-work-for-yourself-2017-2?IR=T">
                <img id="img11" src={{imagesrc5}}>
                <div class="bottom-left"><b style="color:black;">7 clear signs you should be working for yourself</b></div>
        </a>
        </div>
        
    
    
        <div id="cnt2">
                <img id="cnt5" src={{imagesrc1}}>
                </div>
        
        <div id="ctn3">
        <div class="container" id="gallery1">
                <h5><b>NAVIGATION</b></h5><br>
                <ul>
                <li><a [routerLink]="['/register']">Sign Up</a></li>&nbsp;
               <li><a [routerLink]="['/aboutus']">About Us</a></li><br>
                <li><a [routerLink]="['/order']">How It Works</a></li><br>
                <li><a [routerLink]="['/register']">Blogs</a></li><br>
                 <li><a [routerLink]="['/home']">Career</a></li><br>
                 <li><a [routerLink]="['/order']">Contact Us</a></li><br>
                </ul>
        </div>
        <div class="container" id="gallery2">
                <h5><b>LEGAL</b></h5><br>
                <ul>
                <li>Privacy</li>
                <br>
               <li>Policy</li><br>
                <li>Copyright</li><br>
                <li>Terns & Conditions</li><br>
                </ul>
        </div>
        <div class="container" id="gallery3">
                <h5><b>SOCIAL MEDIA</b></h5><br>
                <ul>
                <li>LinkedIn</li>
                <br>
               <li>Instagram</li><br>
                <li>Facebook</li><br>
                </ul>
        </div>
        <div class="container" id="gallery4">
                <h5 id="stay"><b>STAY CONNECTED
                    </b></h5><br>
                    <p id="stay1">Subscribe for our newsletter. Fill the form in ContactUs section and you will be announced about site updates, new features, careers etc.
                    </p>
        </div>
        </div>
        
        
        
        
        
        
        
        
        
        
        
        
        