.body-container{
    left: 0px;
    width: 1366px;
    height: 750px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}

.background-1{
    position: absolute;
    top: -40.3525390625px;
    left: -163.110595703125px;
    width: 326px;
    height: 795px;
    /* background: transparent linear-gradient(186deg, #DE2175 0%, #F0654C 100%) 0% 0% no-repeat; */
    opacity: 1;
}

.background-2{
    position: absolute;
    top: 178px;
    left: 248px;
    width: 72px;
    height: 72px;
    /* background: transparent linear-gradient(332deg, #DE2175 0%, #F0654C 100%) 0% 0% no-repeat padding-box; */
    opacity: 1;
}

.background-3{
    position: absolute;
    top: -18px;
    left: 1272px;
    width: 72px;
    height: 72px;
    /* background: transparent linear-gradient(332deg, #DE2175 0%, #F0654C 100%) 0% 0% no-repeat padding-box; */
    opacity: 1;
}

.background-4{
    position: absolute;
    top: 109px;
    left: 910px;
    width: 610px;
    height: 574px;
    opacity: 0.25;
}


.process-list{
    position: absolute;
    top: 624px;
    left: 316px;
    width: 737px;
    height: 35px;
    opacity: 1;
}

.card-view{
    position: absolute;
    top: 162px;
    left: 273px;
    width: 833px;
    height: 375px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 99px #FF141442;
    border: 1px solid #FF000047;
    opacity: 1;
    border-radius: 10px;
}

.card-view h2{
    position: absolute;
    top: 39px;
    left: 59px;
    width: 700px;
    height: 53px;
    text-align: left;
    letter-spacing: 0;
    opacity: 1;
    font-family: "Roboto", "Bold";
}

.form-btn{
    position: absolute;
    top: 311px;
    left: 616px;
    width: 146px;
    height: 44px;
    background: #F94525 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 15px;
    cursor: pointer;
}

.card-view p{
    position: absolute;
    top: 100px;
    left: 140px;
}