<div class="body-container">
        <div class="header-container">
            <nav class="header-nav">
                <img class="header-logo" src={{headerlogo}} />
                <div class="dropdown">
                    <img class="header-profile-img" src={{headerprofile}} (click)="goToPage('user-profile')" /> <b class ="a-profile" (click)="goToPage('user-profile')">{{displayUser.fullName}}</b>
                    <div class="dropdown-content">
                        <a (click)="logout()" >Logout</a>
                    </div>
                </div>          
            </nav>
        </div>

        <!-- First Card View -->
        <div class="card-view-1">
            <h2><a style="color:#eb4f4f">RavSpace</a> Career Counselling Process</h2>
            <div  class="card1-img-cnt" style="left:90px;">
                <img class="card1-img" style="left:7px;" src={{card1_img1}} />
            </div>
            <p style="left: 105px;"><b style="color:#eb4f4f;">STEP-1 :</b> Take the MCMF Career Assessment Test</p>
            <img class="card1-icon" style="left: 390px;" src={{card1_icon}} />
            <img class="card1-icon" style="left: 430px;" src={{card1_icon}} />
            <img class="card1-icon" style="left: 470px;" src={{card1_icon}} />
            <div  class="card1-img-cnt" style="left:580px;">
                <img class="card1-img" style="left:7px;" src={{card1_img2}} />
            </div>
            <p style="left:600px;"><b style="color:#eb4f4f;">STEP-2 :</b> Generate and analyze your report</p>
            <img class="card1-icon" style="left: 880px;" src={{card1_icon}} />
            <img class="card1-icon" style="left: 920px;" src={{card1_icon}} />
            <img class="card1-icon" style="left: 960px;" src={{card1_icon}} />
            <div  class="card1-img-cnt" style="left:1080px;">
                <img class="card1-img" style="left:7px;" src={{card1_img3}} />
            </div>
            <p style="left:1100px;"><b style="color:#eb4f4f;">STEP-3 :</b> Connect to a professional career counsellor</p>
            
        </div>
        
        <img class="card-2-background" src={{card_2_background}} />
        <div class="card-view-2">
            <h2>Importance of Career Counselling</h2>
            <div class="card2-img-cnt" style="left:150px; ">
                <img class="card2-img" src={{card2_img1}} />
                <img class="card2-icon" src={{card2_icon}} />
            </div>
            <b style="left: 110px;">Analyzed dicisions <span style="color: #6C63FF;">=</span> Success</b>
            <div class="card2-img-cnt" style="left:600px;">
                <img class="card2-img" src={{card2_img2}} />
                <img class="card2-icon" src={{card2_icon}} />
            </div>
            <b style="left:165px;">Fix your target <span style="color: #6C63FF;">=</span> Easy path mapping</b>
            <div class="card2-img-cnt" style="left:1050px;">
                <img class="card2-img" src={{card2_img3}} />
                <img class="card2-icon" src={{card2_icon}} />
            </div>
            <b style="left:240px;">Take Help <span style="color: #6C63FF;">=</span> Choose Wisely</b>
        </div>

        <div class="card-view-3">
            <h2>About <b style="color: #eb4f4f;">MCMF</b> : The Assessment Test</h2>
            <p>In India students prepare through day and night to get into premier institutes whether they are inclined towards it or not. In India, the choice of a course or a career path of a student/individual is significantly influenced by family and friends. In most cases it is observed that the students end up taking courses on the suggestion/advice from others which they are not interested in and find it difficult to cope with it. Choosing a course/career path by understanding his/her personality, interest and passion will be more meaningful and enriching. MCMF aims at helping these young people to understand their strengths and choose a career path that matches their personality.</p>
            <div class="card3-img-cnt1">
                <img class="mcmf-img" src={{card3_mcmf}} />
            </div>
            <div class="card3-img-cnt2" style="transform: rotate(22deg); left: 220px;">
                <img class="card3-icon" src={{card3_icon}} />
            </div>
            <div class="card3-img-cnt2" style="transform: rotate(-23deg); left: 620px;">
                <img class="card3-icon" src={{card3_icon}} />
            </div>
            <div class="card3-img-cnt2" style="transform: rotate(22deg); left: 1020px;">
                <img class="card3-icon" src={{card3_icon}} />
            </div>
        </div>

        <img class="card-4-background" src={{card_4_background}} />
        <div class="card-view-4">
            <h2>Instructions for the Assessment Test</h2>
            <ul type="None" >
                <li><img class="card4-icon" src={{card4_icon}}>     Approach the test with an open mind</li>
                <br/>
                <li><img class="card4-icon" src={{card4_icon}}>     Be truthfull while answering the questions</li>
                <br/>
                <li><img class="card4-icon" src={{card4_icon}}>     Do not try to validate an already choosen or persuing career path</li>
                <br/>
                <li><img class="card4-icon" src={{card4_icon}}>     Read the questions properly before answering</li>
                <br/>
                <li><img class="card4-icon" src={{card4_icon}}>     The time limit for the assessment test is 40 minutes</li>
            </ul>
            <button class="card4-btn" (click)="takeTest()">TAKE TEST</button>
        </div>

</div>