<div class="pop-body-container">
    <h1>Select a Package</h1>

    <div class="card-1">
        <h3>SILVER</h3>
        <ol>
            <li><span style="color:black;">Coupon Code for the assessment test</span></li>
            <li><span style="color:black;">Assessment Report</span></li>
        </ol>
        <h2>Rs.499</h2>
        <button class="card1-btn">Pay Now</button>
    </div>
    <div class="card-2">
        <h3>PLATINUM</h3>
        <ol>
            <li><span style="color:black; ">Coupon Code for the assessment test</span></li>
            <li><span style="color:black; ">Assessment Report</span></li>
            <li><span style="color:black;">Personal career counselling session</span></li>
        </ol>
        <h2>Rs.999</h2>
        <button class="card2-btn">Pay Now</button>
    </div>
</div>