<div class="body-container">
    <img class="background-1" src={{background_1}} />
    <img class="background-2" src={{background_2}} />
    <img class="process-list" src={{process_list}} />

    <div class="card-view-1">
        <h1>Choose a field</h1>
        <p>Choose this tab to get help in making a decision about you future. If you are no idea what to do or what career to pursue, let us help you to get out of this mess.</p>
        <button class="btn-1" (click)= "goToPhase1('phase1-info')">Proceed</button>
    </div>
    
    <div class="card-view-2">
        <h1>Proceed to Validation</h1>
        <p>You already have a career to follow but just not sure how to proceed or have any doubts about you way or your approach. If you need to validate you career choice or need mentorship and guidance to excell choose the below tab.</p>
        <button class="btn-2" (click)= "goToPhase2('coming-soon')">Proceed</button>
    </div>
</div>