.logo{
  position: relative;
  top: -200px;
  left: 40px;
  width: 258px;
  height: 63px;
  background: transparent  0% 0% no-repeat padding-box;
  opacity: 1;
}
   

/* Body CSS */

.body-container{
  max-width: 100%;
  overflow-x: hidden;
}

.card-view-1{
  position: relative;
  top: -50px;
  width: 100%;
  height: 650px;
  /* border: solid 2px black; */
}

.card-view-1 h1{
  position: relative;
  top: 40px;
  left: 780px;
  color: rgb(255, 2, 99);
  font-size: 35px;
}

.card-view-1 ul{
  position: absolute;
  top: 140px;
  left: 800px;
  width: 600px;
  z-index: 1;
}

.card-view-1 li{
  list-style: square;
  font-family: 'Roboto';
  font-size: 25px;
  color: black;
}

.card1-img{
  position: relative;
  top: -40px;
  left: 100px;
  width: 40%;
  height: 80%;
}

.card-view-2{
  position: relative;
  width: 100%;
  height: 650px;
  background-color: rgb(255, 2, 99);
  /* border: solid 2px black; */
}

.card2-img{
  position: relative;
  top: -50px;
  left: 800px;
  width: 40%;
  height: 80%;
}

.card-view-2 h1{
  position: relative;
  top: 70px;
  left: 80px;
  color: white;
  font-size: 35px;
}

.card-view-2 ul{
  position: absolute;
  top: 180px;
  left: 100px;
  width: 600px;
  z-index: 1;
}

.card-view-2 li{
  list-style: square;
  font-family: 'Roboto';
  font-size: 25px;
  color: black;
}


.card-view-team{
  position: relative;
  width: 100%;
  height: 650px;
  /* border: solid 2px black; */
}

.card-view-team h1{
  position: relative;
  top: 40px;
  text-align: center;
  color: rgb(255, 2, 99);
  font-size: 35px;
}

.team-card-1{
  position: absolute;
  top: 150px;
  left: 70px;
  width: 40%;
  height: 420px;
  border: solid 2px rgb(255, 2, 99);
  box-shadow: 0px 0px 99px #FF141442;
  border: 3px solid #FF000047;
}

.founder1-img{
  position: relative;
  top: -50px;
  width: 50%;
  height: 100%;
}

.founder-details{
  position: relative;
  width: 50%;
  height: 80%;
  top: -430px;
  left: 50%;
}

.founder-details h2{
  position: relative;
  text-align: center;
  font-size: 25px;
}

.founder-details h3{
  position: relative;
  text-align: center;
  font-size: 20px;
  top: -18px;
  color: rgb(255, 2, 99);
}

.founder-details h5{
  position: relative;
  text-align: center;
  top: -30px;
  font-size: 15px;
}

.founder-details p{
  position: relative;
  width: 80%;
  left: 10%;
  font-size: 17px;
}

.team-card-2{
  position: absolute;
  left: 55%;
  top: 150px;
  width: 40%;
  height: 420px;
  border: solid 2px rgb(255, 2, 99);
  box-shadow: 0px 0px 99px #FF141442;
  border: 3px solid #FF000047;
}

.founder2-img{
  position: relative;
  top: -50px;
  width: 50%;
  height: 100%;
}









/* Footer CSS */

.footer-container{
  position: relative;
}

h5{

  text-align: center;
  letter-spacing: 0;
  color: #9D9999;;
  
  font-size: 24px;
  margin-top: 30px;
  }
  
  p{
    text-align: center;
  font: Regular 20px/27px Segoe UI;
  letter-spacing: 0;
  opacity: 1;
  font-size: 20px;
  }
  
  
  
  
  img{
    margin-top: 50px;
    width: 100%;
  height: 300px;
  }
  #ctn3{
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #393838 ;
    text-align: center;
    margin-top: -40px;
   }
   #gallery1{
    float:left;
    width: 22%;
  
  }
  #gallery2{
    float:left;
    width: 22%;
  }   
  #gallery3{
    float:left;
    width: 22%;
  }
  li,a{
    color: white;
    list-style-type: none;
    font-size: 23px;
  }
  #stay1{
    color: white
  }
  
  
  
  #cnt5{
    margin-top: 50px;
    width: 100%;
  height: 200px;
  }
  
 
