
<img class="logo" src={{logo}} />




<div class="body-container">
  <div class="card-view-1">
    <h1>What Miligen Technologies stands for?</h1>
    <ul>
      <li>Optimization of<span style="color:rgb(255, 2, 99)"> Supply Chain</span> of the Education sector</li><br/>
      <li>Proving <span style="color:rgb(255, 2, 99)">Mentoring</span> is as important as Tutoring in the information age</li><br/>
      <li>Breaking <span style="color:rgb(255, 2, 99)">Cognitive Biases</span> of the society about career choices</li><br/>
      <li>Creating an environment where individuals can <span style="color:rgb(255, 2, 99)">take control</span> of thier own career</li><br/>
      <li>Providing opportunity to students to make <span style="color:rgb(255, 2, 99)">informed career decisions</span></li><br/>
    </ul>
    <img class="card1-img" src={{card1_img}} />
    
  </div>

  <div class="card-view-2">
    <h1>What RavSpace is as a product?</h1>
    <ul>
      <li>Not just counselling but <span style="color:white">End-to-End Career Assistance</span></li><br/>
      <li>Make an <span style="color:white">Informed Career Choice</span> with the help of assessment test and career guides</li><br/>
      <li><span style="color:white">Validate your Career</span> with industry experts before you start putting efforts</li><br/>
      <li>Take help from a <span style="color:white">Mentor</span> from the Field of choice in your path to <span style="color:white">Success</span></li><br/>
    </ul>
    <img class="card2-img" src={{card2_img}} />
  </div>
  
  <div class="card-view-team">
    <h1>Meet Our Founding Team</h1>
    
    <div class="team-card-1">
      <img class="founder1-img" src={{founder1}} />
      <div class="founder-details">
          <h2>Shreyas Kumbhare</h2>
          <h3>Co-Founder</h3>
          <h5>Indian Institute Technology, Madras Alumnus</h5>
          <p>I believe in creating a space where people can find there real self and pursue thier passion. A world where innovation and creativity is given more importance than bookish knowledge.</p>
      </div>
    </div>
    
    <div class="team-card-2">
      <img class="founder2-img" src={{founder2}} />
      <div class="founder-details">
          <h2>Snehil Vaidh</h2>
          <h3>Co-Founder</h3>
          <h5>Indian Institute Technology, Guwahati Alumnus</h5>
          <p>I believe the education industry is higly incompetent to handle the students of information age. This product is a hope to help change the biases related to career choices.</p>
      </div>
    </div>

    <div class="team-card-3">
        <img class="intern1-img" src={{intern1}} />
        <div class="intern-details">
            <h2>Valentin Georgiev Genov</h2>
            <h3>Intern - UX/UI Design</h3>
            <p>Finding a career can be simple as using internet. RavSpace literally makes that possible!</p>
        </div>
      </div>

      <div class="team-card-4">
          <img class="intern2-img" src={{intern2}} />
          <div class="intern-details">
              <h2>Aditi Poddar</h2>
              <h3>Intern - UX/UI & Graphic Design</h3>
              <p>I believe RavSpace is a platform which addresses a very important problem in our society</p>
          </div>
        </div>

  </div>
</div>




<div class="footer-container">

    <div id="cnt2">
        <img id="cnt5" src={{imagesrc1}}>
        </div>
    
    <div id="ctn3">
    <div class="container" id="gallery1">
        <h5><b>NAVIGATION</b></h5><br>
        <ul>
        <li><a [routerLink]="['/register']">Sign Up</a></li>&nbsp;
       <li><a [routerLink]="['/aboutus']">About Us</a></li><br>
        <li><a [routerLink]="['/order']">How It Works</a></li><br>
        <li><a [routerLink]="['/register']">Blogs</a></li><br>
         <li><a [routerLink]="['/home']">Career</a></li><br>
         <li><a [routerLink]="['/order']">Contact Us</a></li><br>
        </ul>
    </div>
    <div class="container" id="gallery2">
        <h5><b>LEGAL</b></h5><br>
        <ul>
        <li>Privacy</li>
        <br>
       <li>Policy</li><br>
        <li>Copyright</li><br>
        <li>Terns & Conditions</li><br>
        </ul>
    </div>
    <div class="container" id="gallery3">
        <h5><b>SOCIAL MEDIA</b></h5><br>
        <ul>
        <li>LinkedIn</li>
        <br>
       <li>Instagram</li><br>
        <li>Facebook</li><br>
        </ul>
    </div>
    <div class="container" id="gallery4">
        <h5 id="stay"><b>STAY CONNECTED
            </b></h5><br>
            <p id="stay1">Subscribe for our newsletter. Fill the form in ContactUs section and you will be announced about site updates, new features, careers etc.
            </p>
    </div>
    </div>
    

</div>




